@model OnlineAdmission.Models.EnclosedDocument

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li><a href="/Applications/Index" role="tab">Personal Information</a></li>
    <li><a href="/EducationDetails/Index" role="tab">Educational Details</a></li>
    <li class="active"><a href="/EnclosedDocuments/Index" role="tab">Enclosed Documents</a></li>
</ul>

<br />
<br />
<h3>Details</h3>

<div>
    @*<h4>EnclosedDocument</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentFile)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
