@model OnlineAdmission.Models.Application
@using OnlineAdmission.Helpers

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@
<br />
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="/Applications/DetailsAdmin/@ViewBag.applicationId" role="tab">Personal Information</a></li>
    <li><a href="/EducationDetails/EducationAdmin/@ViewBag.applicationId" role="tab">Educational Details</a></li>
    <li><a href="/EnclosedDocuments/EnclosedDocumentsAdmin/@ViewBag.applicationId" role="tab">Enclosed Documents</a></li>
</ul>


<br />
<div class="tab-content">
    <div class="tab-pane fade in active" id="_PersonalInfo">

        <div>

            <hr />
            <div class="row align-items-start">
                <div class="col-md-6 col-xl-3 ">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.User.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TelePhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TelePhoneNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Department)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Department.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Program)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Program.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.RegistrationDate)

                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.RegistrationDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.StatusString)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StatusString)
                        </dd>


                </div>
                <div class="col-md-6 col-xl-3">
                    <dd>
                        @*@Html.DisplayFor(model => model.Photo)*@
                        @*@Html.GetThumbnail(Model.Photo)*@
                        @Html.GetImage(Model.Photo, 200, 200)

                    </dd>

                    </dl>
                </div>
            </div>
            <p>
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |*@
                @Html.ActionLink("Back to List", "IndexAdmin")
            </p>
        </div>
        <div class="tab-pane fade" id="_EducationDetails"></div>
        <div class="tab-pane fade" id="_EnclosedDocuments"></div>
    </div>
